@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');:root {
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-bright-yellow: hsl(71, 73%, 54%);

  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: var(--clr-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container {
  width: 85%;
  max-width: 30rem;
  border-radius: .3rem;
  overflow: hidden;
  // width: 20rem;
  .card {
    padding: 1rem;
    line-height: 1.5;
    h2 {
      font-weight: 700;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
  }
  .card-1 {
    background-color: white;
    h2 {
      color: var(--clr-cyan);
    & + p {
      color: var(--clr-bright-yellow);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    }
    p {
      color: var(--clr-grayish-blue);
      margin-bottom: 1rem;
    }
  }
  .card-2 {
    background-color: var(--clr-cyan);
    color: white;
    h2 + p {
      font-weight: 200;
      display: flex;
      align-items: center;
      a {
        font-weight: 700;
        font-size: 2rem;
        margin-right: .5rem;
      }
    }
      button {
        background-color: var(--clr-bright-yellow);
        color: white;
        font-weight: 700;
        border: none;
        border-radius: .3rem;
        width: 100%;
        padding: 1rem;
        margin-top: 1.5rem;
        margin-bottom: .5rem;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: translateY(5px);
        }
      }
  }
  .card-3 {
    background-color: rgb(114, 202, 195);
    color: white;
    p {
      font-weight: 200;
      // white-space: pre; //reserves line breaks made in html but distorts the card
    }
  }
}

.attribution {
  font-size: 11px; text-align: center;
  margin-top: 1rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}